/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  font-size: 16px;
  font-size: 62.5%;
  height: 100%;
  -webkit-text-size-adjust: none; }

html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

body {
  height: 100%; }

html {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400; }

section {
  min-height: 100%;
  border-bottom: 1px solid #000;
  overflow: hidden;
  background: url("/assets/images/bg-gradient.png") no-repeat center center;
  background-size: cover; }

.sound-visualization {
  background: url("/assets/images/bg-stl.png") no-repeat center center;
  background-size: cover; }
  .sound-visualization .content-container {
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
    margin-top: 70vh; }
  .sound-visualization h2 {
    font-size: 17px;
    color: white;
    background-color: #4D4E4C;
    padding: 8px 25px;
    display: inline-block;
    font-weight: 600;
    margin-bottom: 20px; }
  .sound-visualization p {
    font-size: 14px;
    font-weight: 400;
    color: white;
    background-color: #4D4E4C;
    padding: 6px 15px;
    display: inline-block;
    line-height: 10px; }

nav {
  position: fixed;
  top: 50px;
  width: 100%;
  text-align: center;
  margin: 0 auto; }
  nav h1, nav a {
    display: inline-block;
    margin: 0 20px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: #4D4E4C;
    text-decoration: none; }
  nav a:hover {
    color: #4A90E2; }
  nav .logo {
    margin-bottom: -15px;
    margin-right: 20px; }

canvas {
  display: inline-block;
  background: transparent;
  width: 100%;
  height: 50vh; }

canvas.initial {
  background: url(/assets/images/default_audio.png) no-repeat center center;
  background-size: cover; }

.viz {
  margin-top: 20vh; }

.record-controls {
  max-width: 70%;
  margin: 0 auto;
  text-align: center; }

.drawer, .button-record {
  margin-right: 5%; }

.number {
  display: inline-block;
  border: solid 4px #4D4E4C;
  border-radius: 20px;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 33px;
  font-size: 18px;
  font-weight: 900;
  color: #4D4E4C;
  margin-right: 20px; }

button, select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: solid 4px #4D4E4C;
  padding: 8px;
  outline: none;
  background-color: white;
  min-width: 200px;
  border-radius: 7px;
  font-size: 17px;
  font-weight: 900;
  color: #4D4E4C;
  cursor: pointer;
  text-align: left; }
  button:hover, select:hover {
    background-color: #4D4E4C;
    color: white; }
  button.button-record, select.button-record {
    background-color: #4A90E2;
    border-color: #4A90E2;
    color: white; }
  button.recording, select.recording {
    background-color: red;
    border-color: red; }

select {
  background: url("/assets/images/triangle.svg") no-repeat 90% center; }

form {
  display: inline-block; }

/*# sourceMappingURL=global.css.map */
