doctype
html
  head
    link(rel="/css/style.css")
  body
    canvas#canvas
    script(src="/js/script.js")
    form(action="/download", method="post")
      input(id="value", type="hidden", name="val", style="height:400px;width:100%;font-size:1px")
      br
      button(type="submit") Submit
