html {
  background: url('/assets/images/bg-gradient.png') no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
}

section {
  min-height: 100%;
  overflow: hidden;
}


.sound-upload {

  .content-container {
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
    margin-top: 50vh;
  }
}


.sound-visualization {
  background: url('/assets/images/bg-stl.png') no-repeat center center;
  background-size: cover;

  .content-container {
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
    margin-top: 70vh;

  }

  h2 {
    font-size: 17px;
    color: white;
    background-color: $color-black;
    padding: 8px 25px;
    display: inline-block;
    font-weight: 600;
    margin-bottom: 20px;
  }

  p {
    font-size: 14px;
    font-weight: 400;
    color: white;
    background-color: $color-black;
    padding: 6px 15px;
    display: inline-block;
    line-height: 10px;
  }

}


nav {
  position: fixed;
  top: 50px;
  width: 100%;
  text-align: center;
  margin: 0 auto;
  z-index: 1000;

  h1, a {
    display: inline-block;
    margin: 0 20px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: $color-black;
    text-decoration: none;
  }

  a:hover, a.active {
    color: $color-blue;
  }

  .logo {
    margin-bottom: -15px;
    margin-right: 20px;
  }

}

  canvas {
    display: inline-block;
    background: transparent;
    width: 100%;
    height: 50vh;
  }

  canvas.initial {
    background: url(/assets/images/cover-image.png) no-repeat center center;
  }



  #controls {
  }

  #record {

  }

  #record.recording {

  }
  #save, #save img {

 }

  #save {

  }

  #save[download] {

  }

  .viz {
    margin-top: 20vh;
  }


  .record-controls {
    max-width: 70%;
    margin: 30px auto 0;
    text-align: center;
  }

  .drawer, .button-record {
    margin-right: 5%;
  }


.number {
  display: inline-block;
  border: solid 4px $color-black;
  border-radius: 20px;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 33px;
  font-size: 18px;
  font-weight: 900;
  color: $color-black;
  margin-right: 20px;

}

.upload {
  display: block;
  margin-top: -30px;
}

.number-alt {
  font-size: 12px;
  margin-left: -30px;
}

button, select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: solid 4px $color-black;
  padding: 8px;
  outline: none;
  background-color: white;
  min-width: 200px;
  border-radius: 7px;
  font-size: 17px;
  font-weight: 900;
  color: $color-black;
  cursor: pointer;
  text-align: center;

  &:hover {
    background-color: $color-black;
    color: white;
  }

  &.button-record, &.button-upload {
    background-color: $color-blue;
    border-color: $color-blue;
    color: white;
  }

  &.button-upload {
    font-size: 25px;
    padding: 15px 70px;
  }

  &.recording {
    background-color: red;
    border-color: red;
  }
}

select {
    background: url('/assets/images/triangle.svg') no-repeat 90% center;
    text-align: left;
}

.button-record {
  .record-stop {
    display: none;
  }

  &.recording {
    .record-stop {
      display: block;
    }

    .record-start {
      display: none;
    }
  }
}


form {
  display: inline-block;
}


.container-container {
  height: 60vh;
  margin-top: 20vh;
  background-color: black;
  overflow: hidden;
  position: relative;
}

.container-video {
  height: 100%;
  width: 100%;
  text-align: center;

  iframe {
    width: 100%;
    height: 100%;
  }
}



.join-us {
  .container-container {
    background: url('/assets/images/cube-farm.jpg') no-repeat right center;
    background-size: cover;
  }

  .content-container {
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
    margin-top: 37vh;

  }

  h2 {
    font-size: 17px;
    color: white;
    background-color: $color-black;
    padding: 8px 25px;
    display: inline-block;
    font-weight: 600;
    margin-bottom: 20px;
  }

  p {
    font-size: 14px;
    font-weight: 400;
    color: white;
    background-color: $color-black;
    padding: 6px 15px;
    display: inline-block;
    line-height: 10px;
  }

  .copyright {
    font-size: 14px;
    text-align: center;
    color: $color-black;
    weight: 400;
    margin-top: 80px;
  }
}